server:
  port: 8095

spring:
  application:
    name: portfolioId-generator

  datasource:
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG